aiogram==3.13.0
aiohttp==3.10.5
pycryptodome
brotli
gunicorn==23.0.0
python-telegram-bot
flask
import os
from threading import Thread
from flask import Flask

app = Flask('')


@app.route('/')
def home():
  return 'Bot je aktivan!'


def run():
  port = int(os.environ.get('PORT', 8080))
  app.run(host='0.0.0.0', port=port)


def keep_alive():
  t = Thread(target=run)
  t.start()




